html {
    overflow-x: hidden;
}

body {
    background: rgb(59, 74, 107);
    min-width: 280px;
    min-height: 520px;
}

.container {
    margin: 0 auto;
    max-width:480px;
}
.main {
    text-align: center;
    display: block;
    color: white;
    font-weight:400;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", "sans-serif";
    padding: 4px 10px 4px 10px;

}



h1 {
    color: #ffffff;
    font-size: 17pt;
    font-style: normal;
    font-kerning: auto;
    letter-spacing: 0.1pt;
    padding: 6px 0px 0px 0px;
  }


h2 {
    color: #ffffff;
    font-size: 15pt;
    font-style: normal;
    font-kerning: auto;
    letter-spacing: 0.1pt;
    padding: 6px 0px 0px 0px;
  }

.main > ul, li {
    line-height: 1em;
    padding: 4px 0px 4px 0px;
    margin: 1px;
    list-style-type: none;
}

/*  Basic Styling To Override Default For Basic HTML Elements */


.input-zip {
    background:rgb( 40, 40, 40);
    height: 2em;
    width: 18em;
    color: #f2e395;
    font-size: 14px;
    margin-bottom: 2em;
}


.textarea{
    background:rgba( 40, 40, 40, 0.5);
    color: white;
    font-size: 10pt;
    resize: none;
    height: 20vh;
    min-width:20em;
}
/*.button-container {
    text-align: center;
}*/

button{
    width: 12em;
    height: 2em;
    background: #103b99;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
    border: none;
    box-shadow: 2px 2px 2px #c5c5c5;
    border-radius: 0.5em;
}

button:active{
    box-shadow: -1px -1px 2px black;
    transform: translateY(2px);
}

.jcontainer {
    margin:1px 1px 2px 20px;
    padding:1px;
    border: 1px;
}
.jcontainer li, label {
    text-align: left;
}

.journal {    
    line-break: anywhere;
    display: inline;
}

::placeholder { 
    color: white; 
}